.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1;
  background-color: var(--gray);
  border: 3px solid var(--white);
  border-radius: 5px;
  font-weight: 600;
  user-select: none;
  cursor: pointer;
  height: 6rem;
  margin: 1rem 0;
  font-size: 2rem;
}

.container-button:hover {
  background-color: var(--grayDark);
  transition: 0.1s;
}

.operator {
  background-color: var(--orange);
  color: var(--white);
  font-weight: 600;
  font-weight: 1.8rem;
}

.operator:hover {
  background-color: var(--orangeDark);
}