.App {
  min-height: 100vh;
  max-width: min(90%, 192rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.container-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.logo {
  width: 50%;
  height: auto;
  margin-top: 1rem;
}

.container-calc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.calc {
  width: 100%;
  background-color: var(--blue);
  height: auto;
  margin-top: 2rem;
  border: 3px solid var(--white);
  border-radius: 5px;
  padding: 2rem;
}

.calc-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 1rem;
}