:root {
  --gray: #E3E8F8;
  --grayDark: #C0C5CD;
  --blue: #3E588F;
  --blueDark: #203562;
  --orange: #C36A2D;
  --orangeDark: #BE6A15;
  --black: #222;
  --white: #fff;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, ::before, ::after{
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  box-sizing: inherit;
  background-color: var(--black);
  margin: 0 auto;
}